{% extends '::layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>{% trans %}Latest articles{% endtrans %}</h1>
    </div>

    {% for article in articles %}
        <h3>
            {{ article.title }}
        </h3>
        <div>
            {{ article.content }}
        </div>
        <hr/>
    {% endfor %}

{% endblock %}
