{% extends "layout.twig" %}

{% block content %}

    <div class="page-header">
        <h1>
            Wow!
            <small>isn't this title good looking?</small>
        </h1>
    </div>

    <p class="lead">
        Welcome on our super duper app!
    </p>

    <p>
        Head out to <a href="{{ app.request.baseUrl }}/blog">our blog</a>: there are {{ articleCount }} articles.
    </p>

{% endblock %}
